<!DOCTYPE html>
<html lang="ja">

<head>

    <%- include('../_includes/_common.ejs') %>

        <title>Tenkue Hotel</title>

</head>

</html>

<body>
    <%- include('../_includes/_header') %>

        <main>
            <article class="p-room">
                <div class="p-room__mainVisual">

                </div>
                <div class="p-room__inner l-content-wrap-default">
                    <h2 class="c-title">ROOM</h2>
                    <div class="p-room__container">
                        <div class="p-room__leftItem">
                            <p class="p-room__num">01</p>
                            <h3 class="p-room__subtitle">SWEET ROOM</h3>
                            <div class="p-room__text">一流メーカーのベッドや、浴槽音響システムや洗い場、レインシャワー
                                (一部除く)をご用意したバスルームをなど、機能性と寛ぎを兼ね備えた、上質空間をご提供いたします。専用カードキーによるフロアセキュリティーシステムを導入。安心してご滞在いただけます。
                            </div>
                        </div>
                        <div class="p-room__rightItem">
                            <img class="p-room__img" src="/asset/image/room_01.jpg" alt="SWEET ROOM">
                        </div>
                    </div>
                    <div class="p-room__container">
                        <div class="p-room__leftItem">
                            <img class="p-room__img" src="/asset/image/room_02.jpg" alt="DELUXE ROOM">
                        </div>
                        <div class="p-room__rightItem">

                            <p class="p-room__num">02</p>
                            <h3 class="p-room__subtitle">DELUXE ROOM</h3>
                            <div class="p-room__text">一流メーカーのベッドや、浴槽音響システムや洗い場、レインシャワー
                                (一部除く)をご用意したバスルームをなど、機能性と寛ぎを兼ね備えた、上質空間をご提供いたします。専用カードキーによるフロアセキュリティーシステムを導入。安心してご滞在いただけます。
                            </div>
                        </div>
                    </div>
                    <div class="p-room__container">
                        <div class="p-room__leftItem">
                            <p class="p-room__num">03</p>
                            <h3 class="p-room__subtitle">STANDARD ROOM</h3>
                            <div class="p-room__text">一流メーカーのベッドや、浴槽音響システムや洗い場、レインシャワー
                                (一部除く)をご用意したバスルームをなど、機能性と寛ぎを兼ね備えた、上質空間をご提供いたします。専用カードキーによるフロアセキュリティーシステムを導入。安心してご滞在いただけます。
                            </div>
                        </div>
                        <div class="p-room__rightItem">
                            
                            <img class="p-room__img" src="/asset/image/room_03.jpg" alt="STANDARD ROOM">
                    </div>
                </div>
                <h2 class="c-title">FACILITIES</h2>
                <h3 class="p-room__subtitle">館内設備</h3>
                <p class="p-room__text">レストラン・自動販売機</p>
                <img class="p-room__facilitiesImg" src="/asset/image/room_05.jpg" alt="FACILITIES">
                <h3 class="p-room__subtitle">部屋設備・備品</h3>
                <p class="p-room__text">
                    インターネット無線LAN（Wi-Fi）・ICカードセキュリティ・TV（43インチ以上）・冷蔵庫（空）・セーフティボックス・マイナスイオンドライヤー・加湿空気清浄機・電気ケトル・靴ベラ</p>
                    
                    
                    
                </div>
            </div>
                
                
            </article>

        </main>

        <%- include('../_includes/_footer.ejs') %>

</body>

</html>