<!DOCTYPE html>
<html lang="ja">
    <head>

        <%- include('../_includes/_common.ejs') %> 

        <title>Tenkue Hotel</title>

    </head>
</html>

    <body>
        <%- include('../_includes/_header') %>

        <main>
            <article class="p-areaguide">
                <article class="p-areaguide">
                    <div class="p-areaguide__mv">
                        <div class="p-areaguide__inner l-contact-wrap-default">
                            <h2 class="c-title">areaguide</h2>
                            <h3 class="p-areaguide__subtitle">大阪を代表する観光名所や京都の見所をご紹介。<br>
                            ぜひ大阪駅観光の計画にお役立てください</h3>
                        </div>
                    </div>
                </article>
            </article>

        </main>

        <%- include('../_includes/_footer.ejs') %>
        <script src="/asset/js/modal.js"></script>

    </body>
</html>
