<header class="l-header" id="header">
  <!-- <div class="l-header__inner"> -->
    <a class="l-header__logo" href="">
      <img src="../../asset/image/logo_header.svg" alt="logo">
    </a>

  <!-- ナビゲーションメニュー -->
    <div class="l-nav__wrapper">
      <nav class="l-header__nav">
        <ul class="l-nav__list">
          <li class="l-nav__item"><a href="#">TOP</a></li>
          <li class="l-nav__item"><a href="#">ROOM</a></li>
          <li class="l-nav__item"><a href="#">AREA GUIDE</a></li>
          <li class="l-nav__item"><a href="#">ACCESS</a></li>
          <li class="l-nav__item"><a href="#">CONTACT</a></li>
        </ul>
      </nav>
    </div>

  <!-- ハンバーガーボタン -->
    <div class="c-burger__btn">
      <span class="p-bars">
        <span class="p-bar p-bar__top"></span>
        <span class="p-bar p-bar__mid"></span>
        <span class="p-bar p-bar__bottom"></span>
      </span>
    </div>
  </div>
</header>
