<header class="l-header" id="header">
  <div class="l-header__inner">
    <a class="l-header__logo" href="">
      <img src="../../asset/image/logo_header.svg" alt="logo">
    </a>
    <button 
      class="c-button p-hamburger js-titleLoadAnimDelay2"
      type="button" 
      aria-controls="gloval-nav" 
      aria-expanded="false"
      id="js-buttonHamburger">
      <span class="p-hamburger_line">
        <span class="u-visuallyHidden">メニュー開閉</span>
      </span>
    </button>
    
    <div class="l-container">
      <ul class="l-global_nav_box">
        <li class="l-global_nav_item">
          <a class="l-global_nav_link" href="#">TOP</a>
        </li>
        <li class="l-global_nav_item">
          <a class="l-global_nav_link" href="#">ROOM</a>
        </li>
        <li class="l-global_nav_item">
          <a class="l-global_nav_link" href="#">AREA GUIDE</a>
        </li>
        <li class="l-global_nav_item">
          <a class="l-global_nav_link" href="#">ACCESS</a>
        </li>
        <li class="l-global_nav_item">
          <a class="l-global_nav_link" href="#">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</header>
