<!DOCTYPE html>
<html lang="ja">
    <head>

        <%- include('./_includes/_common.ejs') %> 

        <title>Tenkue App</title>

    </head>
</html>

    <body>
        <%- include('./_includes/_header') %>

        <main>
            <article class="p-top">
                <ul class="p-top-slider">
                    <li class="slider-item"><img class="slider-img" src="../asset/image/mv_01.jpg"></li>
                    <li class="slider-item"><img class="slider-img" src="../asset/image/mv_02.jpg"></li>
                    <li class="slider-item"><img class="slider-img" src="../asset/image/mv_03.jpg"></li>
                    <li class="slider-item"><img class="slider-img" src="../asset/image/mv_04.jpg"></li>
                </ul>
                <section　class="p-top-container concept">
                    <h1 class="p-top-title">CONCEPT</h1>
                    <div p-top-contents>
                        <p p-top-text></p>
                    </div>
                </section>
                <section class="p-top-container area-guide">
                    <h1 class="p-top-title">AREA GUIDE</h1>
                    <div p-top-contents>
                        <p></p>
                    </div>
                </section>
                <section class="p-top-container room">
                    <h1 class="p-top-title">ROOM</h1>
                    <div p-top-contents>
                        <p></p>
                    </div>
                </section>
                <section class="p-top-container access">
                    <h1 class="p-top-title">ACCESS</h1>
                    <div p-top-contents>
                        <p></p>
                    </div>
                </section>
            </article>

        </main>

        <%- include('./_includes/_footer.ejs') %>
        <script src="/asset/js/slider.js"></script>

    </body>
</html>
