.c-hamburger {
}

.open {
  .c-burger__btn .p-bar__top{
    transform: translate(-50%,10px) rotate(45deg);
    transition: transform .3s;
    background-color: #fff;
  }
  .c-burger__btn .p-bar__mid{
    opacity: 0;
    transition: opacity .3s;
  }
  .c-burger__btn .p-bar__bottom{
    transform: translate(-50%,-8px) rotate(-45deg);
    transition: transform .3s;
    background-color: #fff;
  }
}

.c-burger__btn{
  display: none;
  }

