// レスポンシブ

// ブレークポイントの定義
$breakpoints: (
  'sm': 'screen and (max-width: 576px)',
  'md': 'screen and (max-width: 1000px)',
) !default;

// 初期値はmd
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.l-footer {
  background-color: #00478b;
  color: #fff;

  &__inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__container {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq('sm') {
      flex-direction: column;
    }
  }

  &__item {
    @include mq('sm') {
      width: 100%;
      &:nth-of-type(1) {
        margin-bottom: 1rem;
      }
    }
  }

  li {
    list-style: none;
  }

  &__logo {
    img {
      width: auto;
      height: 20px;
    }
    @include mq('sm') {
      font-size: 6vw;
    }
    @include mq('md') {
      font-size: 3vw;
    }
  }

  &__nav {
    display: flex;
    @include mq('sm') {
      flex-wrap: wrap;
    }
  }

  &__nav__item {
    &:not(:first-child) {
      margin-left: 2rem;
    }
    a {
      color: #fff;
      @include mq('sm') {
        font-size: 4vw;
      }
      @include mq('md') {
        font-size: 2vw;
      }
    }
    @include mq('sm') {
      width: 50%;
      &:not(:first-child) {
        margin-left: 0;
      }
    }
    @include mq('md') {
      &:not(:first-child) {
        margin-left: 1.5rem;
      }
    }
  }
  
  &__nav__link {
    letter-spacing: 0.1rem;
  }
  
  &__copyright {
    display: block;
    text-align: center;
    a {
      color: #fff;
    }
  }
}